.welcome-section {
  text-align: center;
  margin-bottom: 20px;
}

.welcome-section h1 {
  font-size: 30px;
  
}

.welcome-section p {
  font-size: 18px;

}

.welcome-section button {
  padding: 10px 20px;
  background-color: #0c5ad0;
 
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.mission-section {
  text-align: center;
}

.mission-section h2 {
  font-size: 24px;
  
}

.mission-section p {
  font-size: 16px;
  color: #790ffa;
}

body{
  background-color: #df8748;
}

h1,h2{
  color:rgba(188, 20, 34, 0.747);
}
p{
  color: rgb(135, 80, 230);
}