  <body>
  <h1>Introduction</h1>
  <h2>
      Sandhya Shrestha
  </h2>
  <img src="assets/Myself.jpeg" alt="Gamer" class="headshot">
  <p>
    "Greetings, ladies and gentlemen! I am delighted to introduce myself as Sandhya Shrestha, hailing from the beautiful nation of Nepal. Currently, I am pursuing a program in Software Engineering Technician at Centennial College. My career aspiration is to become a proficient developer, and I am ardently dedicated to achieving this goal."
  </p>
  <a href="assets/Resume.pdf" download >Download Resume (PDF)</a>
  </body>